doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Saasto
    link(rel="shortcut icon", href="./img/favicon.ico", type="image/x-icon")
    include pug/lists.pug
  body 
    .wrapper
      include pug/header.pug
      main.page
        section.intro
          .container
            .intro__inner
              h1.intro__title A collaborative Time #[span.shape Tracking] that you Need
              .intro__text.big-text An enim nullam tempor sapien gravida donec enim ipsum porta justo  congue magna at pretium purus pretium ligula 
              a(href="#").intro__btn.btn Start 14 Days Trial
          //- .intro__images    
            img(src="./img/intro/mobile2.png", alt="mobile")
        section.numbers 
          .container
            ul.numbers__inner
              each num in numbers
                li.number-item 
                  .number-item__number #{num.number}
                  h6.number-item__title.text #{num.title}
        section.features 
          .container 
            .features__inner 
              .features__title.title Some excellent #[span.shape features] for you
              .features__text.text An enim nullam tempor sapien gravida donec enim ipsum porta justo  congue magna at pretium purus pretium ligula 
              ul.features__blocks  
                each feature in features
                  li.feature
                    .feature__icon 
                      img(src=`./img/features/${feature.img}`, alt="None")
                    .feature__title #{feature.title}
                    .feature__text #{feature.text}
                  

      include pug/footer.pug